/*Margins Start*/
.M_T_5 {
    margin-top: 5px;
}

.M_T_10 {
    margin-top: 10px;
}

.M_T_15 {
    margin-top: 15px;
}

.M_T_20 {
    margin-top: 20px;
}

.M_B_5 {
    margin-bottom: 5px;
}

.M_B_10 {
    margin-bottom: 10px;
}

.M_B_15 {
    margin-bottom: 15px;
}

.M_B_20 {
    margin-bottom: 20px;
}

.M_L_5 {
    margin-left: 5px;
}

.M_L_10 {
    margin-left: 10px;
}

.M_L_15 {
    margin-left: 15px;
}

.M_L_20 {
    margin-left: 20px;
}

.M_R_5 {
    margin-right: 5px;
}

.M_R_10 {
    margin-right: 10px;
}

.M_R_15 {
    margin-right: 15px;
}

.M_R_20 {
    margin-right: 20px;
}
/*Margins End*/
